*, ::after, ::before {
    box-sizing: border-box;
}

:root {
    --background-color: white;
}

body {
    margin: 0;
    background-color: #333;
}

.paddle {

    --position: 50;
    --background-color: white;

    position: absolute;
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vw;
    height: 10vh;
    background-color: var(--background-color);
}

.paddle.left {
    left: 1vw;

}

.paddle.right {
    right: 1vw

}

.ball {

    --x : 50;
    --y: 50;

    position: absolute;
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: white;
}
